
@{
    ViewData["Title"] = "Asistencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card  custom-card">
            <div class="card-body">
                <form>
                    <div class="control-group form-group">
                        <label class="form-label">Unidad</label>
                        <input type="text" class="form-control required" placeholder="Unidad ...">
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-body table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card ">
            <div class="card-body table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

