
@{
    ViewData["Title"] = "Asistencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Asistencias/Bases</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form id="form-asistencias">
                    <div class="form-group">
                        <select class="form-control" id="Bases" name="IdBase">
                            <option value="">--- Selecciona la base ---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Unidad ..." name="Unidad" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Limpiar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="contetn-tables" class="row">

        </div>
    </div>
    @*<div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Unidad</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
</div>


@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>

    <script src="~/assets/plugins/notify/js/notifIt.js"></script>
    <script src="~/assets/plugins/sweet-alert/jquery.sweet-alert.js"></script>
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <script src="~/js/Bases/asistencias.js"></script>

}